@import '../../../style/theme/index';

.container {
  margin: 0;
  width: 100%;
  background: var(--shade9);
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings {
  font-size: 22px;
  color: $text-main-color;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $text-hover-color;
    transition: all 0.2s ease-in-out;
  }
  path {
    cursor: pointer;
  }
  path:hover {
    color: $text-hover-color;
    transition: all 0.2s ease-in-out;
  }
}

.logoText {
  display: inline-block;
  color: #bdc3c7;
  font-family: geometria-light, EB Garamond, Georgia, serif;
}
