@import '../../../style/theme/index';

.container {
  grid-column: 1;
  background: var(--shade8);
  height: 100%;
  padding-top: 50px;
  position: relative;
}

.sideMenuContainer {
  float: right;
  margin-right: 15px;
}

.sideMenu {

}
